/////////////////////////////////////////
// HOUSEKEEPING
/////////////////////////////////////////

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit; -webkit-margin-before:0em; -webkit-margin-after:0em;}
.row {font-family: serif;}


/////////////////////////////////////////
// IMPORTS, VARIABLES, MIXINS
/////////////////////////////////////////

// MOST ESSENTIAL PARTS OF BOOTSTRAP
    @import 'includes/bootstrap/_normalize';
    // @import 'includes/bootstrap/_variables';
    // @import 'includes/bootstrap/_glyphicons';

// ROLL YOUR OWN BOOTSTRAP | DOCS: http://getbootstrap.com/css
    // @import 'includes/_bootstrap_sprockets';

// ROLL YOUR OWN FOUNDATION | DOCS: http://foundation.zurb.com/sites/docs
    // @import 'includes/_foundation_sprockets';

// TOAST GRID & BREAKPOINT VARIABLES | https://github.com/daneden/toast
    @import 'includes/_toast';
    $breakpoint-small: 480px;
    $breakpoint-medium: 768px;
    $breakpoint-large: 1200px;

    .wrap {
        max-width: 960px;
        margin: 0 auto;
        padding: 1.4444rem;
    }

// ROLL YOUR OWN ICON FONT | DOCS: http://fontello.com
    // @import 'includes/_fontello-social-icons';

// SIMPLE ANIMATION LIBRARY | DOCS: https://github.com/daneden/animate.css
    @import 'includes/_animate';

// WEB FONTS |
    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


/////////////////////////////////////////
// CUSTOM SASS
/////////////////////////////////////////

body {
    background: #000;
    color: #0f0;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}

.row {
    margin-top: 20px;
}

.box {
    border: 1px solid #0f0;
    padding: 5px;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;

    img{
        width: 30%;
        display: block;
        margin: 10% auto;
    }
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


/////////////////////////////////////////
// MEDIA QUERYS
/////////////////////////////////////////

@media (min-width: $breakpoint-small) {

}

@media (min-width: $breakpoint-medium) {

}
