footer
  p
    | North American Company for Life and Health Insurance
    br
    | One Sammons Plaza &#x2022; Sioux Falls, SD 57193
    br
    | Phone: (877) 872-0757 &#x2022; Fax: (877) 208-6136 &#x2022; www.NorthAmericanCompany.com
  
  //- p
  //-   | CC: (425) 216-1240
  //-   br
  //-   | Original copy sent to the owner of the Policy/Certificate. Duplicates will be sent to insured, secondary addressee and collateral assignee if applicable.
