doctype 5
html(lang=en)
  head
    meta(charset='utf-8')
    title Policy | Bestow Life Insurance Company
    link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700' rel='stylesheet')
    link(rel='stylesheet' href='/css/style.css')
  body        
    header
      img(src='img/na_company_logo.png')
      img(src='img/bestow_logo.png')
