
.fontello-flickr-circled:before { content: '\e800'; } /* '' */
.fontello-facebook:before { content: '\f001'; } /* '' */
.fontello-facebook-circled:before { content: '\f002'; } /* '' */
.fontello-facebook-squared:before { content: '\f003'; } /* '' */
.fontello-youtube:before { content: '\f004'; } /* '' */
.fontello-youtube-circled:before { content: '\f005'; } /* '' */
.fontello-instagram-squared:before { content: '\f05d'; } /* '' */
.fontello-instagram-circled:before { content: '\f05e'; } /* '' */
.fontello-twitter-1:before { content: '\f099'; } /* '' */
.fontello-github-circled:before { content: '\f09b'; } /* '' */
.fontello-pinterest-circled:before { content: '\f0d2'; } /* '' */
.fontello-pinterest-squared:before { content: '\f0d3'; } /* '' */
.fontello-gplus-squared:before { content: '\f0d4'; } /* '' */
.fontello-google-plus:before { content: '\f0d5'; } /* '' */
.fontello-linkedin:before { content: '\f0e1'; } /* '' */
.fontello-github:before { content: '\f113'; } /* '' */
.fontello-youtube-squared:before { content: '\f166'; } /* '' */
.fontello-flickr-squared:before { content: '\f16e'; } /* '' */
.fontello-tumblr:before { content: '\f173'; } /* '' */
.fontello-tumblr-squared:before { content: '\f174'; } /* '' */
.fontello-reddit-circled:before { content: '\f1a1'; } /* '' */
.fontello-reddit-squared:before { content: '\f1a2'; } /* '' */
.fontello-pinterest:before { content: '\f231'; } /* '' */
.fontello-reddit:before { content: '\f281'; } /* '' */
.fontello-google-plus-circled:before { content: '\f2b3'; } /* '' */
.fontello-github-squared:before { content: '\f300'; } /* '' */
.fontello-flickr:before { content: '\f303'; } /* '' */
.fontello-twitter-squared:before { content: '\f304'; } /* '' */
.fontello-twitter-circled:before { content: '\f30a'; } /* '' */
.fontello-linkedin-squared:before { content: '\f30c'; } /* '' */
.fontello-tumblr-circled:before { content: '\f316'; } /* '' */
.fontello-linkedin-circled:before { content: '\f319'; } /* '' */
.fontello-instagram:before { content: '\f32d'; } /* '' */